#userCard
{
    height: 20vh;
    width: 30%;
    border-bottom: 2px solid #1761a0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    display: flex;
    background: #1761a0;
    color: white;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    cursor: default;
}

#menu
{
    position: absolute;
    top: 20vh;
    height: 80vh;
    width: 100%;
    z-index: 50;


}

#wrapPic
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profilePic
{
    width: 90px;
    height: 90px;

}

#describe
{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    margin-left: 15px;
}

.linkBasic
{
    color: white;
}

.linkBasic:hover
{
    text-decoration: none;
    font-style: italic;
    color: antiquewhite;
}



#modal
{
    position: absolute;
    top: 115%;
    left: 25%;
    height: 15%;
    width: 50%;
    border: 2px solid #1761a0;
    
}

#userBoard
{
    position: absolute;
    top: 0%;
    left: 30%;
    width: 70%;
    height: 20vh;
    border-bottom: 2px solid #1761a0;
    background: #1761a0;
    color: white;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    cursor: default;
}

#board
{
    display: block;
    height: 100%;
  
}

#tips
{
    display: none;
    padding: 16px;
    margin-top: 15px;
    font-size: 25px;
}

.gamesLinks
{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    display: block;

}