<main>

    <div id="userCard">
        
        <div id="wrapPic">
                <img id="profilePic" src="../../assets/defaultPic.png" class="rounded-circle">
        </div>
  
        
        <div id="describe">

            <span>Name : myusername </span>
            <span>Score : myusername </span>
            <a class="linkBasic" href="/" title="Mettre fin à la session en cours ? "> >>> Fermer la session</a>

        </div>
    
    

    </div>

    <div id="menu">
       
    </div>

    <div id="modal">modal</div>

  

</main>
