<main>

    <div id="userCard" class="slideInDown animated" >
        
        <div id="wrapPic">
                <img id="profilePic" src="../../assets/defaultPic.png" class="rounded-circle">
        </div>
  
        
        <div id="describe">

            <span>Utilisateur : <b>{{userName}}</b></span>
            <span>Score : 0 </span>
            <a class="linkBasic" href="/" title="Mettre fin à la session en cours ? "> >>> Fermer la session</a>

        </div>
    
    

    </div>

    <div id="menu">
       
    </div>

    <div id="modal" class="shadow">

        <p id="modalTxt">Text of modal</p>

    </div>

  

</main>
