<main>

    <div id="userCard" class="slideInDown animated" >
        
        <div id="wrapPic">
                <img id="profilePic" src="../../assets/defaultPic.png" class="rounded-circle">
        </div>
  
        
        <div id="describe">

            <span>Utilisateur : <b>{{userName}}</b></span>
            <span>Score : 0 </span>
            <a class="linkBasic" href="/" title="Mettre fin à la session en cours ? "> >>> Fermer la session</a>

        </div>
    
    

    </div>

    <div id="userBoard">
        

        <p id="tips" class="animated"> tips</p>

        <div id="board">board</div>

    </div>

    <div id="menu">
       
      <a (mouseover)="displayTips('This is the first game he is awesome believe me !')" (mouseleave)="hideTips()" class="gamesLinks"> Game 1</a> <br><br>

      <a (mouseover)="displayTips('The second is my favorite one ! but why he is second in this case ?')" (mouseleave)="hideTips()"  class="gamesLinks"> Game 2</a> <br><br>

      <a (mouseover)="displayTips('Another one ? yeah another one !')" (mouseleave)="hideTips()"  class="gamesLinks"> Game 3</a> <br><br>

    </div>

    <div id="modal" class="shadow">

        <p id="modalTxt">Text of modal</p>

    </div>

  

</main>
