<main>


    <div id="gameBoard" class="slideInDown animated">

        <h1>Multiplicate </h1>

        <p id="operation" class="animated"> {{operation}} </p>

        <div id="answerElt">
                
                <label>Votre réponse : </label><br>
                
                <p id="report"><em></em></p>
                
                <input  (keydown)="onKeydown($event)" class="shadow" type="text" id="response">

        </div>

        

            <p id="countDown" title="Décompte pour les points bonus."> {{countDown}}</p>

      
      


    </div>

    <div id="infoBoard" class="slideInUp animated">


        <div id="infoGame" title="Règles du jeu">

                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                
        </div>

        <div id="score" title="Votre score.">

            {{currentScore}}

        </div>

        <button (click)="getOperation()" id="start">Play</button>
        <button (click)="getReset()" id="resetBtn">Reset</button>
        <a routerLink="/Menu" routerLinkActive="active"  id="home" title="Retour au menu ? "></a>


    </div>

</main>
