<main>


    <div id="gameBoard" class="slideInDown animated">

        <h1>Multiplicate </h1>

        <p id="chain" class="animated">Chaînes actuel : {{chain - 1}}</p>

        <p id="operation" class="animated"> {{operation}} </p>

        <div id="answerElt">
                
                <label>Votre réponse : </label><br>
                
                <p id="report"><em></em></p>
                
                <input  (keydown)="onKeydown($event)" class="shadow" type="text" id="response">

        </div>

        

            <p id="countDown" title="Décompte pour les points bonus."> {{countDown}}</p>

      
      


    </div>

    <div id="infoBoard" class="slideInUp animated">


        <div id="infoGame" title="Règles du jeu">

            Multiplicate est un exercice dans lequel vous devez résoudre des opérations mathématiques en partant d'un multiplicateur identique qui multipliera à chaque fois le résultat du calcul précédent.<br><br>
             Vous devez au moins réussir trois opérations pour gagner des points pour votre score, vous disposez également d'un compte à rebours pour remporter des points bonus."
                
        </div>

        <div id="score" title="Votre score.">

            {{currentScore}}

        </div>

        <button (click)="getOperation()" id="start">Play</button>
        <button (click)="getReset()" id="resetBtn">Reset</button>
        <a routerLink="/Menu" routerLinkActive="active"  id="home" title="Retour au menu ? "></a>


    </div>

</main>
