#logo
{
    height: 200px;
    width: 200px;
    margin: auto;
}

#sideLeft
{
    height: 100vh;
    width: 5%;
    background-color: #1761a0;
    position: absolute;
}

#sideRight
{
    height: 100vh;
    width: 5%;
    background-color: #1761a0;
    position: absolute;
    left: 95%;
    top: 0%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
    min-height: 100vh;
    background-image: url('../../assets/logo.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 200px 200px;
  }

  #linkWrapper
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .btn {
    margin: 10px;
    padding: 30px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white !important;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    min-width: 300px;
    position: relative;
    left: -20px;
    width: auto;
    
   }
  
  .btn:hover {
    background-position: right center;
    transform: scale(1.1);
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  
  }
  
  .btn-2 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  .btn-3 {
    background-image: linear-gradient(to right, #fbc2eb 0%,  cornflowerblue 51%, #fbc2eb 100%);
  }

  #quote
  {
    text-align: center;
    width: 300%;
    position: relative;
    left: -100%;
    margin-top: 60px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }

  #gitIcon
  {
    height: 75px;
    width: 75px;
    position: relative;
    top: -10vh;
    cursor: pointer;
   
  }


  // Toggle Elts forms 

form
{
  display: flex;
  flex-direction: column;
}

input, label
{
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

input
{
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
}


label
{
  font-style: italic;
  font-family: "Raleway", Arial, Helvetica, sans-serif ;
  text-shadow: 0px 1px 0px 1px black;
}

.forms
{
  position: absolute;
  height: 58vh;
  width: 60vh;
  border: 2px solid #1761a0;
  display: none;
  box-shadow: 2px 2px 6px 6px lightgrey;
  background: white;
  padding: 8px;
  z-index: 50;
}  

.formh2
{
  text-align: center;
  color: #1761a0;
  text-shadow: 1px 2px 1px 2px whitesmoke;
}

.closureBtn
{
  position: relative;
  left: 54vh;
  top: -10vh;
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #1761a0;
  border-color: #1761a0;
  border-style: solid;
}

.closureBtn:hover
{
  transform: scale(1.3);
  margin-top: 10px;
}

.confBtn
{
   width: 30%;
   margin: auto;
   background: #1761a0;
   color: white;
   padding: 15px;
   margin-top: 25px;
   font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.report
{
  color: red;
  font-style: italic;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

#postSpinner, #logSpinner
{
  display: none;
  margin-top: 15px;
}