<aside class="slideInLeft animated" id="sideLeft"></aside>

<div class="container" >
    <div class="row">
      
        <div class="col">
      
       </div>
      

        <!-- Main menu -->

       <div class="col-6" id="linkWrapper">
        <a routerLink="/Demo" routerLinkActive="active" class="btn btn-1 slideInLeft animated" title="Essayez l'application sans vous enregistrez.">Démo</a>
        <button (click)="displayLogIn()" class="btn btn-2 slideInRight animated" title="Entrez vos identifiants pour vous connectez.">Connexion</button>
        <button (click)="displayAuth()"  class="btn btn-3 slideInLeft animated" title="S'inscrire et utiliser l'application complète.">Inscription</button>

        <p id="quote"><em>Parce que vos facultés mentales ont parfois besoin d'une mise à jour.</em></p>

       </div>



       


       <!-- Registering form toggle -->

       <div class="col-6" id="authForm" class="animated forms">
         

        <br>
        <h2 class="formh2">Inscrivez-vous</h2>
        <hr>

        <button (click)="displayAuth()" id="closeLogIn" class="closureBtn">X</button>

        <form>
        <label>Nom d'utilisateur : </label>
        <input type="name" minlength="5" id="name" maxlength="15" placeholder=" Tapez votre nom d'utilisateur..." required>
        
        <label>Mot de passe : </label>
        <input type="password" id="password" minlength="5" maxlength="20" placeholder=" Tapez votre mot de passe...">

        <label>Confirmer mot de passe : </label>
        <input type="password" id="password2" minlength="5" maxlength="20" placeholder="Veuillez ressaissir votre mot de passe ...">

        <button type="button" (click)="postUser()" id="postBtn" class="confBtn">Valider</button>
        
        <p id="postReport" class="report"></p>

        <br>
        <div class="d-flex justify-content-center" >
            <div class="spinner-border text-primary" id="postSpinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>

        
    
        </form>
       

      

       </div>

       <!-- Authentication form toggle -->

       <div class="col-6" id="logInForm" class="animated forms">

        <br>
        <h2 class="formh2">Se connectez</h2>
        <hr>

        <button (click)="displayLogIn()"  class="closureBtn">X</button>

        <form>
        <label>Nom d'utilisateur : </label>
        <input type="name" minlength="5" id="authName" maxlength="15" placeholder=" Tapez votre nom d'utilisateur..." required>
        
        <label>Mot de passe : </label>
        <input type="password" id="authPassword" minlength="5" maxlength="20" placeholder=" Tapez votre mot de passe...">

        <button type="button" (click)="logUser()" id="logBtn" class="confBtn">Connexion</button>
        
        <p id="authReport" class="report"></p>
    

        <div class="d-flex justify-content-center" >
            <div class="spinner-border text-primary" id="logSpinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>


        </form>

        </div>


        <!-- About section toggle  -->

       <button (click)="displayAbout()" id="aboutBtn" title="Des questions ?">?</button>
       
       <div class="col-6" id="aboutElt" class="animated" >

        <button (click)="displayAbout()" id="closeAbout">X</button>

        <br>
        <h2 class="formh2">À propos de brainCatch</h2>
        <hr>

       </div>

      
      
       <div class="col">
       
       
        </div>

        
    </div>
 </div>  
 
 
<aside class="slideInRight animated" id="sideRight"></aside> 


<a href="https://github.com/R3tr093/brainCatch" title="Voir le repository." target="_blank"><img class="rounded mx-auto d-block" id="gitIcon" src="../../assets/gitIcon.png"></a>a
