<aside class="slideInLeft animated" id="sideLeft"></aside>

<div class="container" >
    <div class="row">
      
        <div class="col">
      
       </div>
      
       <div class="col-6" id="linkWrapper">
      

        <a routerLink="/Demo" routerLinkActive="active" class="btn btn-1 slideInLeft animated" title="Essayez l'application sans vous enregistrez.">Démo</a>
        <a (click)="displayLogIn()" class="btn btn-2 slideInRight animated" title="Entrez vos identifiants pour vous connectez.">Connexion</a>
        <a (click)="displayAuth()"  class="btn btn-3 slideInLeft animated" title="S'inscrire et utiliser l'application complète.">Inscription</a>

        <p id="quote"><em>Par ce que vos facultés mentales ont parfois besoin d'une mise à jour.</em></p>
      

       </div>

       <div class="col-6" id="authForm" class="animated forms">
         

        <button (click)="displayAuth()" id="closeAuth">X</button>

       </div>

       <div class="col-6" id="logInForm" class="animated forms">

        <br>
        <h2 class="formh2">Inscrivez-vous</h2>
        <hr>

        <button (click)="displayLogIn()" id="closeLogIn" class="closureBtn">X</button>

        <form>
        <label>Nom d'utilisateur : </label>
        <input type="name" minlength="5" id="name" maxlength="15" placeholder=" Tapez votre nom d'utilisateur..." required>
        
        <label>Mot de passe : </label>
        <input type="password" id="password" minlength="5" maxlength="20" placeholder=" Tapez votre mot de passe...">

        <label>Confirmer mot de passe : </label>
        <input type="password" id="password2" minlength="5" maxlength="20" placeholder="Veuillez ressaissir votre mot de passe ...">

        <button type="button" (click)="postUser()" class="confBtn">Valider</button>
        
        <p id="postReport" class="report"></p>
    
        </form>
       
        </div>

      
      
       <div class="col">
       
       
        </div>

        
    </div>
 </div>  
 
 
<aside class="slideInRight animated" id="sideRight"></aside> 


<a href="https://github.com/R3tr093/brainCatch" target="_blank"><img class="rounded mx-auto d-block" id="gitIcon" src="../../assets/gitIcon.png"></a>a
