<aside class="slideInLeft animated" id="sideLeft"></aside>

<div class="container" >
    <div class="row">
      
        <div class="col">
      
       </div>
      
       <div class="col-6" id="linkWrapper">
      

        <a routerLink="/Demo" routerLinkActive="active" class="btn btn-1 slideInLeft animated" title="Essayez l'application sans vous enregistrez.">Démo</a>
        <a routerLink="/Menu" routerLinkActive="active" class="btn btn-2 slideInRight animated" title="Entrez vos identifiants pour vous connectez.">Connexion</a>
        <a class="btn btn-3 slideInLeft animated" title="S'inscire et utiliser l'application complète.">Inscription</a>

       </div>
      
       <div class="col">
       
         <aside></aside>
       
        </div>
    </div>
 </div>  
 
<aside class="slideInRight animated" id="sideRight"></aside> 